/* MEDIA QUERIES SECTION */

@media (max-width:700px) {

#menu {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

#skills, #about, #edusection, #contactinfo {
  scroll-margin-top: 12rem;
}


body{
    background-color: black;
    background-image: none;
}

#navicons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 1rem;
    background: #111;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 1000;
}

nav span{
    padding-right: 1rem;
}

#navicons.active {
    display: flex;
}

nav header{
    font-size: 200%;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    margin: 5rem auto;
}

#main1{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    margin: 5rem 0;
}

#main1 img{
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}

#pfpname{
    font-weight: 700;
    font-size: 250%;
    border-bottom: 0.1rem solid orangered;
}

h1{
    visibility: visible;
    font-size: x-large;
    position: relative;
    bottom: 1.5rem;
}

#main2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.herolines{
    font-weight: 700;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
    text-align: center;
}

#page2{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 0 auto;
}

#about{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 2vw;
    margin: 0 auto 4rem auto;
    padding: 0;
    text-align: center;
}

.text1{
    padding: 1.5rem 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 5rem 0;
    padding: 4rem 0 1rem 0;
}

#project{
    width: 80%;
    height: auto;
    margin: 5rem 0;
}

#project1{
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#project2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#project img{
    height: 6rem;
    max-height: 9rem;
    padding: 1rem;
    border-radius: 2rem;
}

#edusection{
    width: 80%;
}

.contact{
    border: solid 1rem orangered;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.2rem solid orangered;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

#contactinfo{
    font-size: 2rem;
    height: auto;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px; /* Space between elements */
    padding: 1rem 0;
    align-items: center;
}
#user-email{
    border: 0.1rem solid white;
    margin: 1rem 0;
    padding: 1rem 10rem 1rem 1rem;
    border-radius: 0.8rem;
    background: transparent;
    width: 40%;
    color: white;
}
#user-email:hover{
    width: 42%;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 300ms;
    border: 0.1rem solid orangered;
}

#user-message{
    border: 0.1rem solid white;
    margin: 1rem 0;
    padding: 1rem 10rem 1rem 1rem;
    background: transparent;
    border-radius: 0.8rem;
    width: 40%;
    color: white;
}
#user-message:hover{
    width: 42%;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 300ms;
    border: 0.1rem solid orangered;
}

#feedback{
    width: 92%;
    gap: 1rem;
}

#feedback button{
    border-radius: 0.8rem;
    border: 0.1rem solid white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 35%;
    background: transparent;
    color: white;
}

#feedback button:hover{
    width: 32%;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 300ms;
    border: 0.1rem solid orangered;
}

footer{
    width: 80%;
    margin: 5rem 0 1rem 0;
}

#footer1{
    padding: 2rem 0 0 0;
}

.footer2 a{
    text-decoration: none;
    color: aliceblue;
    padding: 0.5rem 0;
    font-size: larger;
}
}